@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
  background-color: #030303;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
}
a.active{
  color: white;
  text-decoration: none;
}
.navbar-item{
  color: #717171;
  text-decoration: none;
  margin: 1.3em;
}
.navbar-item:hover{
  color: white;
  text-decoration: none;
}
.main-container{
  display: flex;
  flex-direction: column;
}
.menu-bar-item{
  color: #717171;
  text-decoration: none;
  margin: 1.3em;
}
.menu-bar-item:hover{
  color: white;
  text-decoration: none;
}
.menu-bar-container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  width: 100%;
  height: 3em;
}
.menu-logo-container{
  width: 5%;
  color: white;
  margin-left: 1em;
  height: auto;
}
.menu-icons{
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin-right: 1em;
}
.mood-labels{
  display: flex;
  justify-content: flex-start;
  margin-left: 7rem;
  margin-top: 6rem;
}
.mood-label-item{
  color: white;
  background-color: #251E27;
  margin: 0.5em;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}
.mood-label-item:hover{
  background-color: #3D363E;
  cursor: pointer;
}
.listen-again-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 7rem;
  margin-top: 3rem;
}
.listen-again-top-div{
  height: 100px;
  display: flex;
  flex-direction: row;
}
.listen-again-user-pic{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.subtitle-lower{
  display: block;
  color: #AAAAAA;
  font-size: 16px;
  font-weight: 400;
}
.subtitle-main{
  color: white;
  font-size: 24px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}
.listen-again-options{
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  align-items: center;
  margin-left: 40em;
}
.listen-again-options-more{
  display: flex;
  align-items: center;
  color: white;
  padding: 0 15px;
  border-width: 1px;
  border-color: #252622;
  height: 36px;
  border-style: solid;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 500;
}
.listen-again-options-more:hover{
  background-color: #252622;
}
.listen-again-options-button{
  display: flex;
  align-items: center;
  color: white;
  padding: 1%;
  border-width: 1px;
  border-color: #252622;
  height: 3em;
  width: 3em;
  border-style: solid;
  border-radius: 50%;
  font-size: 14px;
  justify-content: center;
}
.listen-again-options-button:hover{
  background-color: #252622;
}
.listen-again-bottom-div{
  height: 100px;
  display: flex;
  flex-direction: row;
}
.song-card{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 180px;
  height: 232px;
  border-radius: 5px;
}
.song-thumbnail{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
}
.song-thumbnail:hover{
  background-color: #ffffff73;
}
.song-thumbnail-options{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 5px;
  width: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.song-thumbnail-options:hover{
  background-color: #ffffff1a;
}
.song-thumbnail-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.song-thumbnail-hover:hover{
  background-color: #00000080;
}
.song-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #ffffffb3;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.song-title{
  display: flex;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}
/*LOGIN*/
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem;
  background-color: #251E27;
}
